<!DOCTYPE HTML>
{% load static %}
<!--
	 Разработка портала отдела ОИТО компании ННПЗ
	 г. Новошахтинск
	 Ведущий системный администратор | Московкин Е.О.
-->
<html>
	{% block Title %}
		{% include 'Title.html' %}
	{% endblock Title %}
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				{% block Header %}

				{% endblock Header %}

			<!-- Banner -->
			{% block Banner %}

			{% endblock Banner %}
			<!-- Carousel -->
			{% block Carousel %}

			{% endblock Carousel %}
			<!-- Main -->
			{% block Main %}

			{% endblock Main%}

			<!-- Features -->
			{% block Features %}

			{% endblock Features%}
			<!-- Footer -->
				{% block Footer%}

				{% endblock Footer%}

							<!-- Posts -->
								{% block Posts %}

								{% endblock Posts%}

							<!-- Photos -->
								{% block Photos %}

								{% endblock Photos%}

								<!-- Contact -->
									{% block Contact %}

									{% endblock Contact %}
								<!-- Copyright -->
									{% block Copyright %}

									{% endblock Copyright %}

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			{% block Scripts %}

			{% endblock Scripts %}

	</body>
</html>
