<nav id="nav">
							<ul>
								<li><a href="index.html">Домой</a></li>
								<li>
									<a href="{% url 'index' %}">Сервисы</a>
									<ul>
										<li><a href="#">Active Directory</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li>
											<a href="#">RemoteDesktop >>></a>
											<ul>
												<li><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
											</ul>
										</li>
										<li><a href="#">Пункт</a></li>
									</ul>
								</li>
								<li><a href="left-sidebar.html">Пункт</a></li>
								<li><a href="right-sidebar.html">Пункт</a></li>
								<li><a href="no-sidebar.html">Контакты</a></li>
							</ul>
</nav>