{% extends 'index.html'%}
    {% block Header %}
        {% include 'Header.html'%}
    {% endblock Header %}


		<!-- Banner -->
        {% block Banner %}
			{% include 'Banner.html' %}
		{% endblock Banner %}
		<!-- Carousel -->
		{% block Carousel %}
			{% include 'Carousel.html'%}
		{% endblock Carousel %}
		<!-- Main -->
		{% block Main %}
			{% include 'Main.html'%}
		{% endblock Main%}

		<!-- Features -->
			{% block Features %}

			{% endblock Features%}
			<!-- Footer -->
				{% block Footer %}

				{% endblock Footer %}

							<!-- Posts -->
								{% block Posts %}

								{% endblock Posts%}

							<!-- Photos -->
								{% block Photos %}

								{% endblock Photos%}

								<!-- Contact -->
									{% block Contact %}

									{% endblock Contact %}
								<!-- Copyright -->
									{% block Copyright %}

									{% endblock Copyright %}

		<!-- Scripts -->
			{% block Scripts %}
				{% include 'Scripts.html'%}
			{% endblock Scripts %}